/* Estilizando menu com icones*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box; /*Não soma o tamanho do com o padding*/
}

body{
	background: #ffffff;
	font-family: Roboto; /*importa do google e precisa colocar no html acima do link do estilo*/
	}
#menu{
	width: 100%;
	height: 60px;
	background: #333;
	color: white;
  }
#menu li{
	display:block;
	margin-left: 25%;
	margin-right: 20%;    
	}

#menu a{
	float: left;
	text-decoration:none; /*tira sublinhado dos links*/
	color: rgb(0, 255, 179);
	
	text-transform: uppercase;
	line-height: 60px;
	height: 60px;
	padding: 0px 30px; 
	display: flex;
	transition: background 0.3s, color 0.3;
	}   
 
	/* no google digita-se material icons e pega o primeiro link    material-icons que o android tambem usa */
   
#menu a:hover{ /* efeito cor mouse*/
	background: #000000;
	}

#menu i{
	height: 60px;
	line-height: 60px;
	}

#titulo{
	font-family:arial;
	text-align: center;
	background: #999999;
	padding: 5px 5px; 
	height: 60px;
	margin: 10px 10px;
	border: 2px solid #000000;
	}

#textosS {
  display: flex;         /* Coloca os blocos lado a lado */
  justify-content: center; /* Centraliza o conjunto na tela */
  align-items: flex-start; /* Alinha o topo dos dois blocos uniformemente */
  gap: 1px;             /* Cria o espaço de separação entre as duas caixas */
  width: 100%;           /* Garante que ocupe a largura total disponível */
  box-sizing: border-box;
 }
#home{
	font-family:arial;	/*define a fonte do texto*/
	font-weight:bold;	/*deixa o texto em negrito*/
	text-align: center;		/*alinha o texto ao centro*/
	background: #c0bfbf;	/*cor de fundo do bloco*/
	padding: 10px 0px;	/*espaçamento interno do bloco (10px em cima e embaixo, 0px nas laterais)*/
	height: auto;	/*ajusta a altura do bloco automaticamente com base no conteúdo*/	
	margin-left: 10%;	/*define a margem esquerda do bloco (1% da largura total)*/
	margin-right: 10%;	/*define a margem direita do bloco (51% da largura total)*/
	border: 2px solid #000000;	/*adiciona uma borda sólida de 2 pixels de largura e cor preta ao redor do bloco*/
	margin-bottom:20px;
	}

#img1{
	height: auto; 
	align-items: center;
	margin-left: 35%;
	margin-right: 50%;
	}



#sobre{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #030303;
	margin-bottom:20px;
}

#sobre1{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}

#sobre2{
	font-family:arial;
	font-weight:bold;
	text-align: left;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 30%;
	margin-right: 30%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}

#sobre h4{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	border: 2px solid #030303;
	margin-bottom:20px;
}
#sobre1 h4{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	border: 2px solid #030303;
	margin-bottom:20px;
}
#sobre2 h4{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	border: 2px solid #030303;
	margin-bottom:20px;
}

#sobre2 ul{
	margin: 0px;
	padding-left: 20px;

}
#especificações{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}

#especificações h4{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #bdbdbd;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#impactos h4{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}

#impactos{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #030303;
	margin-bottom:20px;
	}


#impactos ul{
	margin: 0px;
	padding-left: 20px;
 }
#img{
	display: flex;
	justify-content: center;
 }
#img2{
	display: flex;
	justify-content: center;
 }

 #textosC{
    font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b4b4b4;
	padding: 0px 0px; 
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid #030303;
	margin-bottom:20px;
 }


#footer{
	font-family:arial;
	font-weight:bold;
	text-align: center;
	background: #b8b8b8;
	padding: 10px 5px; 
	height: 60px;
	margin: 10px 10px;
	border: 2px solid #000000;
	}